<form class="form-signin" action="/saveModel" method="post">
    <h2 class="form-signin-heading text-center">Open, says me</h2>

    <label for="name" class="sr-only">Username</label>
    <input type="text" name="name" id="name" class="form-control" placeholder="name" required autofocus />

    <label for="intro" class="sr-only">Password</label>
    <input type="text" name="intro" id="intro" class="form-control" placeholder="intro" />

    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>